.form-control {
	width: 200px;
	margin: 15px;
}

.thumbnail {
	display: inline-block;
	width: 30%;
}

 .thumbnail:nth-child(2n) {
	background-color: #fffcdb;
}

 .thumbnail:nth-child(2n+1) {
	background-color: #eaf2ff;
}

.dotted-border {
	border: 2px dotted lightgray;
}